APP_ENV=development
APP_BASE_URL=http://127.0.0.1:8000

SESSION_SECRET_KEY=

DATABASE_URL=

VIRUSTOTAL_API_KEY=

RESEND_API_KEY=
CONTACT_FROM_EMAIL=
SALES_CONTACT_EMAIL=
SUPPORT_CONTACT_EMAIL=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

STRIPE_SMALL_BUSINESS_MONTHLY_PRICE_ID=
STRIPE_SMALL_BUSINESS_ANNUAL_PRICE_ID=
STRIPE_ENTERPRISE_MONTHLY_PRICE_ID=
STRIPE_ENTERPRISE_ANNUAL_PRICE_ID=

STRIPE_BUSINESS_PORTAL_CONFIGURATION_ID=